@import "../../styles/base.scss";

.dark-mode-toggle {
  display: flex;
  position: fixed;
  right: 30px;
  bottom: 15px;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}